body {
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
      background: linear-gradient(135deg, #21002b, #280032);
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #dc2eff;
    }

    * {
      font-family: "Pixelify Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }

    .card {
      background: rgb(0, 0, 0);
      padding: 24px;
      width: 90%;
      max-width: 360px;
      text-align: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.15);
      filter: drop-shadow(0 0 2px rgba(255, 235, 209, 0.2));
      animation: glowPulse 3s infinite ease-in-out;
    }

    #surprise.show {
      display: block;
    }


    h1 {
      font-size: 1.6rem;
      margin-bottom: 12px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    button {
      background: rgb(2, 0, 28);
      border: 2px solid #dc2eff;
      padding: 14px 24px;
      font-size: 1rem;
      color: white;
      cursor: pointer;
      width: 100%;
      transition: 0.3s ease-in-out;
    }

    button:active {
      transform: scale(0.97);
    }

    button:hover {
      transform: scale(1.01);
    }

    .hidden {
      display: none;
    }

    .amount {
      font-size: 2rem;
      font-weight: bold;
      margin: 16px 0;
    }

    @keyframes glowPulse {
    0% {
        filter: drop-shadow(0 0 2px rgba(245, 209, 255, 0.2));
    }
    50% {
        filter: drop-shadow(0 0 8px rgb(251, 173, 255));
    }
    100% {
        filter: drop-shadow(0 0 2px rgba(245, 209, 255, 0.2));
    }
    }

    .confetti {
    position: fixed;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 0.9;
    pointer-events: none;
    animation: fall linear forwards;
    }

    .slime-image{
      width: 100px;
      height: 100px;
      margin-top: 10px;
      display: block;
      margin: 0 auto;
    }

    .slime-image img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
    }



    @media (max-width: 480px) {
    .card {
        max-width: 200px;
    }

    
}
